.login-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
  }

.mat-toolbar {
    background-color: #ff97f3; 
    color: white; 
    font-size: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
}